<h1>Registro</h1>

<form action="/auth/signup" method="post">
  <label for="">Nick</label>
  <input type="text" name="username" id="">
  <label for="">Email</label>
  <input type="text" name="email" id="">
  <label for="">Password</label>
  <input type="password" name="password" id="">
  <select name="role" id="">
    <option value="Admin">Admin</option>
    <option value="User">User</option>
    <option value="Otro">Otro</option>
  </select>

  <button type="submit">Registrar</button>
</form>