<h1>Create Movie</h1>


<form action="/movie/create" method="post">
  <label for="">title</label>
  <input type="text" name="title">
  <label for="">genre</label>
  <input type="text" name="genre">
  <label for="">plot</label>
  <input type="text" name="plot">
  <label for="">cast</label>
  <input type="text" name="name">

  <button type="submit">Create</button>
</form>

{{#if messageError}}
<b>{{messageError}}</b>
{{/if}}